:css
  p{
    font-family: Meiryo, メイリオ, 'ＭＳ Ｐゴシック', Osaka-Mono, Monospace, Helvetica, Arial, sans-serif;
  }
  h3{
    margin-top: 35px;
  }

.wrapper.shaded{style:"background-color: #fff;"}
  .row
    .twelve.columns.special.head{style: "margin:3px 0px"}
      %a{href: "http://example.com/"}
        = image_tag("corp_logo.png")

.wrapper.shaded{style:"background-color: #deb068;"}
  .row
    .special.head{style:"margin:60px 0px"}
      = image_tag("logo.png")


.row{style:"margin-top:20px"}
  .three.columns{style:"margin-top:10px"}
    .medium.primary.btn.rounded.metro{style:"width:100%; color:#fff; margin-bottom:10px"}
      既に登録済みの方
    %ul
      %li.field
        %input.input{type:"text", placeholder:"ログインID"}
      %li.field
        %input.input{type:"password", placeholder:"パスワード"}
      %li.field
        %input.input{type:"submit", value:"ログイン"}

    .medium.secondary.btn.rounded.metro{style:"width:100%; color:#fff; margin-bottom:10px; margin-top:15px"}
      登録・お問い合わせ
    .medium.default.btn.rounded.metro.icon-left.icon-mail{style:"width:100%; margin-bottom:10px;"}
      hoge@example.co.jp

  .row.nine.columns
    #notice
      %h6{style:"padding: 3px 5px; background-color: #eee; margin-bottom:6px"} 更新情報
      %ul.four.columns{style:"width:90%"}
        %li.secondary.alert アップデートのお知らせ
        %li.danger.alert 不具合のお詫び

    #description{style:"clear:both; margin-top:100px"}
      %h3
        丘に立つその少女は、エドナ・ミレイを思わせた
      %p
        それは、少女が午後の陽射しの中でタンポポ色の髪を風になびかせていたからかもしれないし、少女が身にまとう白い古風なドレスが、彼女の細く長い足に巻き付いていたからかもしれない。いずれにしてもマークは、彼女が過去からやってきたという、はっきりとした印象を受けた。そしてそれは見当違いなことだった。というのは、実際のところ、彼女は過去からではなく、未来からやってきたのだったから。
      %p
        丘を登って息をつかせていた彼は、少女の後ろにいくらか距離をとって休んだ。彼女はまだ彼に気付いていなかった。彼は、どうすれば彼女を驚かさずに自分の存在を知らせることができるか考え、考えをまとめるため、パイプに草を詰め、手を丸めてそれをおおいながら火をつけた。もう一度少女を見ると、彼女はこちらを向いて興味深そうにマークを見つめていた。

      %h3 ２日目の午後、ジュリーは青いドレスを着ていた
      %ul.four.columns
        %li.success.label Android
        %li.default.label iOS
      %p{style:"clear:both"} "おとといは兎を見たわ。きのうは鹿、今日はあなた。"
      %p 彼は待って待って待ち続け、そして少女は来なかった。次の日も来なかった。影が長くなり空気が凍るほどになると、彼は丘を下りカエデの森へ入る。やがて彼は森の中へ続く小道を見つけ、正確に辿り、あの小さな村へ抜けた。小さな郵便局の前に立ち寄り、手紙が届いていないか確認した。皺だらけの郵便局員が何も届いていないと告げた後も、彼は少しの間ぐずぐずと残っていた。「あの・・・この辺りに、ダンヴァースという名前の家がありませんか？」彼はつい口に出してしまった。

    #external{style:"text-align:center"}
      .medium.primary.btn.rounded.metro{style:"color:#fff; margin-bottom:10px; margin-top:15px; margin-right:40px"}
        %a{href: "http://en.wikipedia.org/wiki/The_Dandelion_Girl"} Wikipediaで見てみる
      .medium.secondary.btn.rounded.metro{style:"margin-bottom:30px; color:#fff"}
        %a{href: "http://www.amazon.co.jp/dp/4835449479"} Amazonで見てみる


.wrapper.shaded{style:"background-color: #bbb;"}
  .row
    .special.head{style:"margin:20px 0px"}
      %p
        %a{href: "http://example.com/", style:"float:left; color:#555555"} Test.inc
      %p{style:"text-align:right; font-size:14px"}
        |
        %a{href: "http://example.com", style:"color:#555555"} プライバシーポリシー
        |
        %a{href: "https://example.com", style:"color:#555555"} 問い合せ
        |
        %a{href: "http://example.com", style:"color:#555555"} 会社概要
        | ©2015 Test.inc. All Rights Reserved
