:css
  p{
    font-family: Meiryo, メイリオ, 'ＭＳ Ｐゴシック', Osaka-Mono, Monospace, Helvetica, Arial, sans-serif;
  }
  h3{
    margin-top: 35px;
  }

.wrapper.shaded{style:"background-color: #fff;"}
  .row
    .twelve.columns.special.head{style: "margin:3px 0px"}
      %a{href: "http://example.com/"}
        = image_tag("corp_logo.png")

.wrapper.shaded{style:"background-color: #17184b;"}
  .row
    .special.head{style:"margin:50px 0px"}
      = image_tag("logo.png")


.row{style:"margin-top:20px"}
  .three.columns{style:"margin-top:20px"}
    .medium.secondary.btn.rounded.metro{style:"width:100%; color:#fff; margin-bottom:10px; margin-top:15px"}
      登録・お問い合わせ
    .medium.default.btn.rounded.metro.icon-left.icon-mail{style:"width:100%; margin-bottom:10px;"}
      hoge@example.co.jp

  .row.nine.columns
    #notice
      %h6{style:"padding: 3px 5px; background-color: #eee; margin-bottom:6px"} 更新情報
      %ul.four.columns{style:"width:90%"}
        %li.secondary.alert アップデートのお知らせ
        %li.danger.alert 不具合のお詫び

    #description{style:"clear:both; margin-top:100px"}
      %h3
        男女の誕生比が9:1の植民惑星。
      %ul.four.columns
        %li.success.label SF
        %li.default.label 宇宙うなぎ
      %p{style:"clear:both"}
        地球の環境汚染から逃れた避難船ダナルーが不時着してから300年。この星では男女が9:1の割合で誕生していた。16歳でカップリングできない男子は全員復興した地球へ回帰する。秀才少年ライカは都市の謎を調べ回り、勝ち気な少女ヒマリは地球に憧れている。そして地球行きを憂う少年アツはヒマリに一目惚れ。そんな3人が出会った喋るウナギは、ダナルーのある秘密を示唆する

      %h3
        環境汚染で人類が地球から退去して数百年。
      %p
        環境汚染で人類が地球から退去して数百年。各植民惑星で増加し地球系連合を組織した人類は、もはや全員の地球回帰が不可能になっていた。だが、独自に回帰し回復途上の自然を再開発する人々が増え、問題化している。連合の地球保護委員会に環境調査を任された賢女コーリン、彼女に同行しつつも密かに別命を受ける青年シウ、そして彼らの命を狙う少女ニナ―この星を愛するが故の様々な想いが、未曾有の危機を招来する。

    #external{style:"text-align:center"}
      .medium.primary.btn.rounded.metro{style:"color:#fff; margin-bottom:10px; margin-top:15px; margin-right:40px"}
        %a{href: "http://ja.wikipedia.org/wiki/%E5%B0%8F%E6%9E%97%E3%82%81%E3%81%90%E3%81%BF"} Wikipediaで見てみる
      .medium.secondary.btn.rounded.metro{style:"margin-bottom:30px; color:#fff"}
        %a{href: "http://www.amazon.co.jp/dp/415030940X"} Amazonで見てみる


.wrapper.shaded{style:"background-color: #bbb;"}
  .row
    .special.head{style:"margin:20px 0px"}
      %p
        %a{href: "http://example.com/", style:"float:left; color:#555555"} Test.inc
      %p{style:"text-align:right; font-size:14px"}
        |
        %a{href: "http://example.com", style:"color:#555555"} プライバシーポリシー
        |
        %a{href: "https://example.com", style:"color:#555555"} 問い合せ
        |
        %a{href: "http://example.com", style:"color:#555555"} 会社概要
        | ©2015 Test.inc. All Rights Reserved
